/* weather display */
h2, h4, p {
  color: $white;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 1em;
}

h2 {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 10px auto;
  padding: 5px;
  width: 100px;
}

h4 {
  font-size: 1.2em;
  display: inline-block;
  padding: 10px 5px;
}

p {
  font-weight: 300;
  font-size: 0.9em;
  letter-spacing: 0.4px;
  padding: 5px;
}


/*light background*/
section.denver, section.castle-rock, section.san-diego, section.san-fransico {
    bottom: 0;
    height: 240px;
    position: absolute;
    width: 100vw;
    overflow: hidden;
    text-align: center;
}

section.castle-rock {
  background: url('../images/castle-rock-blurry.jpg') no-repeat center fixed;
  background-size: cover;
}

section.denver {
  background: url('../images/denver-blurry.jpg') no-repeat center center fixed;
  background-size: cover;
}

section.san-diego {
  background: url('../images/san-diego-blurry.jpg') no-repeat center center fixed;
  background-size: cover;
}

section.san-fransico {
  background: url('../images/san-fran-blurry.jpg') no-repeat center center fixed;
  background-size: cover;
}

section.Invalid.Input {
  display: none;
}

/*weather styling*/
article {
  border-right: 1px solid $dark-grey;
  display: inline-block;
  height: 100%;
  width: 14.8%;
  padding: 12px;
  text-align: center;
  vertical-align: top;
}

div.sunny {
  background: url('../images/svg/sunny.svg') no-repeat;
  height: 55px;
  width: 50px;
  margin: 0 auto;
}

div.windy {
  background: url('../images/svg/windy.svg') no-repeat center 5px;
  height: 55px;
  width: 50px;
  margin: 0 auto;
  padding-top: 5px;
}

div.thunder {
  background: url('../images/svg/thunder-storms.svg') no-repeat;
  height: 55px;
  width: 50px;
  margin: 0 auto;
}

div.snow {
  background: url('../images/svg/snowy.svg') no-repeat;
  height: 55px;
  width: 50px;
  margin: 0 auto;
}

div.rain {
  background: url('../images/svg/rain.svg') no-repeat;
  height: 55px;
  width: 50px;
  margin: 0 auto;
}

div.cloudy {
  background: url('../images/svg/cloudy.svg') no-repeat;
  height: 55px;
  width: 50px;
  margin: 0 auto;
}

.extreme-weather {
  background-color: $red;
  border-radius: 17px;
}

.extreme-weather p {
  color: $black;
}
