/* weather display */
h2, h4 {
  color: $white;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 1em;
}

h2 {
  padding-top: 15px;
}

h4 {
  display: inline-block;
}


/*light background*/
section.denver, section.castle-rock, section.san-diego, section.san-fransico {
    bottom: 0;
    height: 240px;
    position: absolute;
    width: 100vw;
    overflow: hidden;
}

section.castle-rock {
  background: url('/images/castle-rock-blurry.jpg') no-repeat center fixed;
  background-size: cover;
}

section.denver {
  background: url('/images/denver-blurry.jpg') no-repeat center center fixed;
  background-size: cover;
}

section.san-diego {
  background: url('/images/san-diego-blurry.jpg') no-repeat center center fixed;
  background-size: cover;
}

section.san-fransico {
  background: url('/images/san-fran-blurry.jpg') no-repeat center center fixed;
  background-size: cover;
}

/*weather styling*/
article {
  display: inline-block;
  height: 100%;
  width: 14%;
  padding: 10px;
  text-align: center;
  vertical-align: top;
}

div.sunny {
  background: url('/images/svg/sunny.svg') no-repeat;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

div.windy {
  background: url('/images/svg/windy.svg') no-repeat;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

div.thunder {
  background: url('/images/svg/thunder-storms.svg') no-repeat;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

div.snow {
  background: url('/images/svg/snowy.svg') no-repeat;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

div.rain {
  background: url('/images/svg/rain.svg') no-repeat;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

div.cloudy {
  background: url('/images/svg/cloudy.svg') no-repeat;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}
