@import 'reset.scss';
@import 'variables.scss';
@import 'daily-weather.scss';

/* home page and input*/

#application {
  background: url('/images/welcome-screen.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.location-input {
  color: $white;
  background: none;
  border: none;
  font-family: $primary-font;
  font-size: 4.2em;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 50px 50px 15px;
  outline: none;
  width: 100%;
}

.submit-button {
  background-color: $white;
  border: none;
  font-family: $primary-font;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px;
  margin-left: 50px;
  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

/* city styling */
.castle-rock {
  background: url('/images/castle-rock.jpg') no-repeat center center fixed;
}

.denver {
  background: url('/images/denver.jpg') no-repeat center center fixed;
}

.san-diego {
  background: url('/images/san-diego.jpg') no-repeat center center fixed;
}

.san-fransico {
  background: url('/images/san-fran.jpg') no-repeat center center fixed;
}

.denver, .san-diego, .castle-rock, .san-fransico {
  background-size: cover;
  height: 100vh;
}
