@import 'reset.scss';
@import 'variables.scss';
@import 'daily-weather.scss';

/* home page and input*/

#application {
  background: url('/images/welcome-screen.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

h1 {
  color: $white;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 3.75em;
  letter-spacing: 2.5px;
}

#location-title {
  height: 70px;
  width: 50%;
  padding: 70px 25px 25px 70px;
}

.location-input {
  color: $dark-grey;
  background: $white;
  border: none;
  font-family: $primary-font;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: 70px;
  outline: none;
  padding-left: 15px;
  width: 325px;
}

.submit-button {
  background-color: $white;
  border: none;
  font-family: $primary-font;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 12px;
  margin-left: 10px;
  vertical-align: bottom;
  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

/* city styling */
.castle-rock {
  background: url('/images/castle-rock.jpg') no-repeat center center fixed;
}

.denver {
  background: url('/images/denver.jpg') no-repeat center center fixed;
}

.san-diego {
  background: url('/images/san-diego.jpg') no-repeat center center fixed;
}

.san-fransico {
  background: url('/images/san-fran.jpg') no-repeat center center fixed;
}

.denver, .san-diego, .castle-rock, .san-fransico {
  background-size: cover;
  height: 100vh;
}
